<div class="container">
    <div class="row">
        <div class="col-xs-offset-2 col-xs-8">
            <h1>閲覧記事一覧</h1>
            <ul>
                <div id="browsed_article_lists">
                    <% if @histories.present? %>
                        <strong><%= render 'browsing_histories' %></strong>
                    <% else %>
                        <h2>閲覧記事がありません</h2>
                    <% end %>
                </div>
            </ul>
        </div>
    </div>
</div>