<% @articles.each do |article| %>
    <li class="article clearfix">
        <%= link_to article_path(article.id) do %>
            <% if article.article_image %>
                <div class="article-left"><img src=<%= article.article_image %>></div>
            <% end %>
                <ul class="article-right">
                <li class="article-title"><%= truncate(article.title, length: 50) %></li>
                <li class="iine-count">👍<%= article.favorites.count %></li>
            </ul>
        <% end %><br>
    </li>
<% end %>