
<%= link_to "ログアウト", destroy_user_session_path, method: :delete %><br>
<div class="container">
    <div class="row">
        <div id="news", class="col-xs-offset-2 col-xs-8">
            <h2>最新記事</h2>
            <ul>
                <div id="article_lists">
                    <strong><%= render 'article_list' %></strong>
                </div>
            </ul>
            <%= link_to_next_page @articles, '次の10件', remote: true, class: "more view_more btn btn-secondary" %>
        </div>
    </div>
</div>

