
<%= link_to "ログアウト", destroy_user_session_path, method: :delete %><br>
<div id="news">
    <ol>
        <li>
        <% @tips.each do |tip| %>
            <li>
                <%= link_to article_path(tip.id) do %><%= tip.title %><% end %><br>
            </li>
        <% end %>
    </ol>
</div>

