<%= link_to "ログアウト", destroy_user_session_path, method: :delete %><br>
<%= link_to "ABC news", articles_path %>
<div class="container">
    <div class="row">
        <div id="news col-xs-offset-2 col-xs-8">
            <h1>最新記事</h1>
            <ul>
                <div id="tech_article_lists">
                    <strong><%= render 'techcrunch_list' %></strong>
                </div>
                <div class="more view_more"><%= link_to_next_page @articles, 'もっと見る', remote: true %></div>
            </ul>
        </div>
    </div>
</div>