<div class="container">
    <div class="row">
        <div id="news col-xs-offset-2 col-xs-8">
            <h1>お気に入り記事</h1>
            <ul>
                <div id="favo_article_lists">
                    <% if @favos.present? %>
                        <strong><%= render 'users/favo_articles' %></strong>
                    <% else %>
                        <h2>お気に入り記事がありません</h2>
                    <% end %>
                </div>
            </ul>
        </div>
    </div>
</div>